<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <link rel="stylesheet" href="./semester_project.css" />
</head>
<body>
  <div id="stuff"></div>

<!-- template for the pages layout -->
  <script id="template" type="page/template">

  <div>
    <div class="upper-container">
      <div class="full-map-image">
      <% if (selectedState === null) { %> <!--if no state is selected use the US map-->
        <img src="./images/full_map_2.jpg"/>
        <% } else { %> <!-- otherwise show the location image for the selected state-->
          <img src="./images/<%= states[selectedState].location %>"/>
        <%}%>
      </div>
      <div class="states-list">
        <ul class="states-names">
        <% states.forEach(function(state, index) { %>
          <li> <%= state.name %> </li> <!-- show each of the states as a line item -->
        <% }) %>
        </ul>
      </div>
      <ul class="label-names">
        <% if (selectedState === null) { %> <!-- if no state is selected show the information for the US -->
          <li>
            <div class="label">Nations Capital:</div>
            <div class="info">Washington D.C.</div>
          </li>
          <li>
            <div class="label">National Bird:</div>
            <div class="info">Bald Eagle</div>
          </li>
          <li>
            <div class="label">National Flower:</div>
            <div class="info">Rose</div>
          </li>
          <li>
            <div class="label">Area:</div>
            <div class="info">3,794,083</div>
          </li>
          <li>
            <div class="label">Founding Date:</div>
            <div class="info">July 4th, 1776</div>
          </li>
          <li>
            <div class="label">Nickname:</div>
            <div class="info">The Land of Opportunity</div>
          </li>
          <li>
            <div class="label">Motto:</div>
            <div class="info">E Pluribus Unum (one from many)</div>
          </li>
        <% } else { %> <!-- otherwise show the information for the selected state -->
          <li>
            <div class="label">State Capital:</div>
            <div class="info"><%= states[selectedState].capital %></div>
          </li>
          <li>
            <div class="label">State Bird:</div>
            <div class="info"><%= states[selectedState].bird %></div>
          </li>
          <li>
            <div class="label">State Flower:</div>
            <div class="info"><%= states[selectedState].flower %></div>
          </li>
          <li>
            <div class="label">Area:</div>
            <div class="info"><%= states[selectedState].area %></div>
          </li>
          <li>
            <div class="label">Date of Statehood:</div>
            <div class="info"><%= states[selectedState].date %></div>
          </li>
          <li>
            <div class="label">Order of Statehood:</div>
            <div class="info"><%= states[selectedState].order %></div>
          </li>
          <li>
            <div class="label">State Nickname:</div>
            <div class="info"><%= states[selectedState].nickname %></div>
          </li>
          <li>
            <div class="label">State Motto:</div>
            <div class="info"><%= states[selectedState].motto %></div>
          </li>
        <% } %>
      </ul>
    </div>
    <div class="lower-level">
      <div class="flag-image">
        <% if (selectedState === null) { %> <!-- show the US flag -->
          <img src="./images/united_states_flag.jpg"/>
        <% } else { %> <!-- show the selected states flag -->
          <img src="./images/<%= states[selectedState].flag %>"/>
        <% } %>
        <div class="buttons">
          <div class="sort-by-size">
            <button class="js-ascend">Ascending</button> <!-- button to sort in ascending order -->
            <button class="js-descend">Descending</button> <!-- button to sort in descending order -->
          </div>
          <div class="sort-by-other">
            <button class="js-alpha">Alphabetically</button> <!-- button to sort in alphabetical order -->
            <button class="js-statehood">Statehood Order</button> <!-- button to sort in statehood order -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="maps">
    <div class="map-T">
      <% if (selectedState===null) { %> <!--US terrain map -->
        <img src="./images/full_map_terrain.gif"/>
      <% } else { %> <!-- sele states terrain map -->
        <img src="./images/<%= states[selectedState].terrain %>"/>
      <% } %>
    </div>
    <div class="map-C">
      <% if (selectedState === null) { %> <!-- US state map -->
        <img src="./images/full_map_county.gif"/>
      <% } else { %> <!-- selected states county map -->
        <img src="./images/<%= states[selectedState].county %>"/>
      <% } %>
    </div>
  </div>
  </script>
<script src="https://unpkg.com/ejs@2.5.6/ejs.min.js"></script>
<!--EJS GitHub: https://github.com/mde/ejs -->
<script src="./State_Info.js"></script>
<script src="./semester_project.js"></script>
</body>
</html>
